<div id="parent-container">
  <div id="title">
    <fa-icon
      [icon]="faArrowLeft"
      id="back-arrow"
      (click)="navigateBack()">
    </fa-icon>
    <span class="title-heading">Available Clinicians</span>
  </div>

  <div class="body-content">
    <div class="counter-container">
      <span id="available">Available</span>
      <span class="count-holder">{{ clinicians.length }}</span>
    </div>
    <ul>
      <li *ngFor="let clinician of clinicians" class="liItem">
        <div class="contact-clinician">
          <span>{{clinician.firstName}} {{clinician.lastName}}</span>
          <!-- <div class="icon-holder">
            <div class="icon-div">
              <img src="../../../assets/comment.svg" alt="Chat" />
            </div>
            <span class="chat">Chat</span>
          </div> -->
        </div>
      </li>
    </ul>
  </div>
</div>
